.text {
  &-primary {
    align-items: center;
    display: flex;
    font-size: 82px;
    font-weight: bold;
    margin-right: 100px;

    span {
      margin-right: 18px;

      &:last-child {
        margin-right: 0;
      }
    }

    &.last {
      margin-right: 0;
    }
  }
}